/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Schedule Table Style Sheet
   Author: 
   Date:   

   Filename:         hcc_schedule.css
   Supporting Files: 

*/

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

/* .empty {
    border: none;
} */